@model ArtContestClub.Models.Contest

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid card">
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
    @{
        if(Model.IsNsfw)
        {
                <h6 class="card-subtitle mb-2 text-muted">You can post NSFW</h6>
        }
        else
        {
                <h6 class="card-subtitle mb-2 text-muted">You can NOT post NSFW</h6>
        }
    }
    <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
    <div class="btn-group" role="group">
            @{
                if(Model.ContestParticipants == null)
                {
                    if(Model.MaxParticipants <= Model.CurrentParticipants || (Model.Deadline != null && Model.Deadline <= DateTime.Now))
                    {
                        <a class="btn btn-dark mb-3" role="link" aria-disabled="true">Join contest</a>
                    }
                    else
                    {
                        <a class="btn btn-success mb-3" asp-controller="Contests" asp-action="Join" asp-route-id="@Model?.Id">Join contest</a>
                    }
                }
                else
                {
                    var contestParticipantsObject = Model.ContestParticipants
                        .FirstOrDefault(p => p.ContestId == Model.Id && p.ParticipantEmail == User.Identity.Name);
                    if(contestParticipantsObject == null)
                    {
                        if(Model.MaxParticipants <= Model.CurrentParticipants || (Model.Deadline != null && Model.Deadline <= DateTime.Now))
                        {
                            <a class="btn btn-dark mb-3" role="link" aria-disabled="true">Join contest</a>
                        }
                        else
                        {
                            <a class="btn btn-success mb-3" asp-controller="Contests" asp-action="Join" asp-route-id="@Model?.Id">Join contest</a>
                        }
                    }
                    else
                    {
                        <a class="btn btn-outline-warning mb-3" asp-controller="Contests" asp-action="Leave" asp-route-id="@Model?.Id">Leave contest</a>
                        <a class="btn btn-success mb-3" asp-controller="People" asp-action="SubmitArt" asp-route-id="@Model?.Id">Submit art</a>
                    }
            }
            
            
        }
        <a class="btn btn-danger mb-3" asp-controller="People" asp-action="SubmitArt" asp-route-id="@Model?.Id">Report</a>
    </div>
    <div class="card-footer">
        Deadline: @Html.DisplayFor(model => model.Deadline) <br />
        Capacity: @Html.DisplayFor(model => model.CurrentParticipants)
        /
        @Html.DisplayFor(model => model.MaxParticipants) <br />
        Level: @Html.DisplayFor(model => model.SkillLevel) <br />
        Branch: @Html.DisplayFor(model => model.Branch)
    </div>
  </div>
</div>
