@model ArtContestClub.Models.Contest

@{
    ViewData["Title"] = "Contest details";
}

@{
    if(ViewData["alreadySubmitted"] != null && ViewData["alreadySubmitted"].ToString().Equals("true"))
    {
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> You can not leave contest after submitting art.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }

}

@{
    if(ViewData["reportContest"] != null && ViewData["reportContest"].ToString().Equals("true"))
    {
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> This feature is not implemented yet.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }

}

@{
    if(ViewData["UserRankToLowToJoin"] != null && ViewData["UserRankToLowToJoin"].ToString() == "true")
    {
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error!</strong> You need to wait until your last joined contest ends or upgrade your rank.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    }
}

@{ViewData["YouHaveSubmitted"] = "true";}

@if (Model != null && Model.ContestParticipants != null) foreach(var i in Model.ContestParticipants)
{
        if(i.UserIdentity == ViewData["UserIdentity"].ToString())
        {
            ViewData["YouHaveSubmitted"] = "false";
        }
}

@if (Model != null && Model.ContestSubmissions != null) foreach(var i in Model.ContestSubmissions)
{
        if(i.UserIdentity == ViewData["UserIdentity"].ToString())
        {
            ViewData["YouHaveSubmitted"] = "true";
        }
}

@if(ViewData["YouHaveSubmitted"].ToString() == "false")
{
    <br />
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>You did NOT submit your work yet!</strong> Submit your work before time limit expires.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<br />
<div class="container-fluid card bg-dark text-white">
  <div class="card-body">
    <h5 class="card-title">@Html.DisplayFor(model => model.Title)</h5>
    @{
        if(Model.IsNsfw)
        {
                                                                <h6 class="card-subtitle mb-2 text-muted">You can post NSFW</h6>
        }
        else
        {
                                                                <h6 class="card-subtitle mb-2 text-muted">You can NOT post NSFW</h6>
        }
    }
    <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
    <div class="btn-group" role="group">
            @{
                if(Model.ContestParticipants == null)
                {
                    if(Model.MaxParticipants <= Model.CurrentParticipants || (Model.Deadline != null && Model.Deadline <= DateTime.Now))
                    {
                                                                        <a class="btn btn-dark mb-3" role="link" aria-disabled="true">Join contest</a>
                    }
                    else
                    {
                                                                        <a class="btn btn-success mb-3" asp-controller="Contests" asp-action="Join" asp-route-id="@Model?.Id">Join contest</a>
                    }
                }
                else
                {
                    var contestParticipantsObject = Model.ContestParticipants
                        .FirstOrDefault(p => p.ContestId == Model.Id && p.UserIdentity == ViewData["UserIdentity"].ToString());
                    if(contestParticipantsObject == null)
                    {
                        if(Model.MaxParticipants <= Model.CurrentParticipants || (Model.Deadline != null && Model.Deadline <= DateTime.Now))
                        {
                                                                            <a class="btn btn-dark mb-3" role="link" aria-disabled="true">Join contest</a>
                        }
                        else
                        {
                                                                            <a class="btn btn-success mb-3" asp-controller="Contests" asp-action="Join" asp-route-id="@Model?.Id">Join contest</a>
                        }
                    }
                    else
                    {
                                                                        <a class="btn btn-outline-warning mb-3" asp-controller="Contests" asp-action="Leave" asp-route-id="@Model?.Id">Leave contest</a>
                                                                        <a class="btn btn-success mb-3" asp-controller="Contests" asp-action="SubmitArt" asp-route-id="@Model?.Id">Submit art</a>
                    }
            }
            
            
        }
        <a class="btn btn-danger mb-3" asp-controller="Contests" asp-action="Details" asp-route-id="@Model?.Id" asp-route-reportContest="@Model?.Id">Report</a>
    </div>
    <div class="card-footer">
        Deadline: @Html.DisplayFor(model => model.Deadline) <br />
        Capacity: @Html.DisplayFor(model => model.CurrentParticipants)
        /
        @Html.DisplayFor(model => model.MaxParticipants) <br />
        Skill level: @Html.DisplayFor(model => model.SkillLevel) <br />
        Branch: @Html.DisplayFor(model => model.Branch) <br />
        Owner: <a class="text-white" asp-controller="AboutMe" asp-action="Index" asp-route-id="@Model.UserIdentity">@ViewData[Model.UserIdentity]</a>
        @if(ViewData["SupportConfirmed"].ToString() == "true")
        {
            <br /><br />
            @if(Model.IsBanned == true)
            {
                <a class="btn btn-danger text-white" asp-controller="Support" asp-action="UnbanContest" asp-route-contestId="@Model.Id">Unban contest</a>
            }
            else
            {
                <a class="btn btn-danger text-white" asp-controller="Support" asp-action="BanContest" asp-route-contestId="@Model.Id">Ban contest</a>
            }
            
        }
    </div>
  </div>
</div>

@if (Model != null && Model.ContestSubmissions != null) foreach(var i in Model.ContestSubmissions)
{
        if (Model.FirstPlaceUserEmail != i.UserIdentity) continue;
        <br />
    <center>
        <div class="card w-75 bg-secondary text-white">
        
            <div class="card-body">
                <h4 class="card-title text-center" style="background-color: darkblue;color: yellow">First place</h4>
                <h5 class="card-title text-center">@i.Title</h5>
                <h6 class="card-subtitle text-center">Submitted by <a class="text-white" asp-controller="AboutMe" asp-action="Index" asp-route-id="@i.UserIdentity">@ViewData[i.UserIdentity]</a></h6>
                <br />
                <center>
                    <img src="@i.ArtLink" class="card-img" style="max-width=100%;max-height: 3000px;">
                </center>
                @if(Model.UserIdentity == ViewData["UserIdentity"].ToString())
                {
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="1" asp-route-placeUserIdentity="@i.UserIdentity">First place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="2" asp-route-placeUserIdentity="@i.UserIdentity">Second place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="3" asp-route-placeUserIdentity="@i.UserIdentity">Third place</a>
                }
                @if(ViewData["SupportConfirmed"].ToString() == "true")
                {
                    if(i.IsBanned)
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="UnbanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Unban submission</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="BanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Ban submission</a>
                    }
                    
                }
                    
            </div>
        </div>
    </center>
}
@if (Model != null && Model.ContestSubmissions != null) foreach(var i in Model.ContestSubmissions)
{
    if (Model.SecondPlaceUserEmail != i.UserIdentity) continue;
    if (Model.SecondPlaceUserEmail == Model.FirstPlaceUserEmail) continue;
    <br />
    <center>
        <div class="card w-75 bg-secondary text-white">
            <div class="card-body">
                <h4 class="card-title text-center" style="background-color: darkblue;color: dimgray">Second place</h4>
                <h5 class="card-title text-center">@i.Title</h5>
                <h6 class="card-subtitle text-center">Submitted by <a class="text-white" asp-controller="AboutMe" asp-action="Index" asp-route-id="@i.UserIdentity">@ViewData[i.UserIdentity]</a></h6>
                <br />
                <center>
                    <img src="@i.ArtLink" class="card-img" style="max-width=100%;max-height: 3000px;">
                </center>
                @if(Model.UserIdentity == ViewData["UserIdentity"].ToString())
                {
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="1" asp-route-placeUserIdentity="@i.UserIdentity">First place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="2" asp-route-placeUserIdentity="@i.UserIdentity">Second place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="3" asp-route-placeUserIdentity="@i.UserIdentity">Third place</a>
                    
                }
                @if(ViewData["SupportConfirmed"].ToString() == "true")
                {
                    if(i.IsBanned)
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="UnbanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Unban submission</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="BanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Ban submission</a>
                    }
                    
                }    
            </div>
        </div>
    </center>
}

@if (Model != null && Model.ContestSubmissions != null) foreach(var i in Model.ContestSubmissions)
{
    if (Model.ThirdPlaceUserEmail != i.UserIdentity) continue;
    if (Model.ThirdPlaceUserEmail == Model.FirstPlaceUserEmail) continue;
    if (Model.ThirdPlaceUserEmail == Model.SecondPlaceUserEmail) continue;
    <br />
    <center>
        <div class="card w-75 bg-secondary text-white">
        
            <div class="card-body">
                <h4 class="card-title text-center" style="background-color: darkblue; color: saddlebrown">Third place</h4>
                <h5 class="card-title text-center">@i.Title</h5>
                <h6 class="card-subtitle text-center">Submitted by <a class="text-white" asp-controller="AboutMe" asp-action="Index" asp-route-id="@i.UserIdentity">@ViewData[i.UserIdentity]</a></h6>
                <br />
                <center>
                    <img src="@i.ArtLink" class="card-img" style="max-width=100%;max-height: 3000px;">
                </center>
                @if(Model.UserIdentity == ViewData["UserIdentity"].ToString())
                {
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="1" asp-route-placeUserIdentity="@i.UserIdentity">First place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="2" asp-route-placeUserIdentity="@i.UserIdentity">Second place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="3" asp-route-placeUserIdentity="@i.UserIdentity">Third place</a>
                    
                }
                @if(ViewData["SupportConfirmed"].ToString() == "true")
                {
                    if(i.IsBanned)
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="UnbanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Unban submission</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="BanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Ban submission</a>
                    }
                    
                }    
            </div>
        </div>
    </center>
}

                    
@if (Model != null && Model.ContestSubmissions != null) foreach(var i in Model.ContestSubmissions)
{
    if (Model.FirstPlaceUserEmail == i.UserIdentity) continue;
    if (Model.SecondPlaceUserEmail == i.UserIdentity) continue;
    if (Model.ThirdPlaceUserEmail == i.UserIdentity) continue;
    <br />
    <center>
        <div class="card w-75 bg-secondary text-white">
        
            <div class="card-body">
                <h5 class="card-title text-center">@i.Title</h5>
                <h6 class="card-subtitle text-center">Submitted by <a class="text-white" asp-controller="AboutMe" asp-action="Index" asp-route-id="@i.UserIdentity">@ViewData[i.UserIdentity]</a></h6>
                <br />
                <center>
                    <img src="@i.ArtLink" class="card-img" style="max-width=100%;max-height: 3000px;">
                </center>
                @if(Model.UserIdentity == ViewData["UserIdentity"].ToString())
                {
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="1" asp-route-placeUserIdentity="@i.UserIdentity">First place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="2" asp-route-placeUserIdentity="@i.UserIdentity">Second place</a>
                    <a class="btn btn-success" asp-controller="Contests" asp-action="SetPlace" asp-route-id="@Model.Id" asp-route-place="3" asp-route-placeUserIdentity="@i.UserIdentity">Third place</a>
                }
                @if(ViewData["SupportConfirmed"].ToString() == "true")
                {
                    if(i.IsBanned)
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="UnbanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Unban submission</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" asp-controller="Support" asp-action="BanSubmission" asp-route-id="@i.Id" asp-route-contestId="@Model.Id">Ban submission</a>
                    }
                    
                }

            </div>
        </div>
    </center>
}