@model ArtContestClub.Models.Contest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNsfw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNsfw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBanned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBanned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentParticipants)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentParticipants)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstPlaceUserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstPlaceUserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondPlaceUserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondPlaceUserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThirdPlaceUserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThirdPlaceUserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
